* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
}

/* Navbar style start*/
.navbar {
  height: 75px;
  width: 100%;
  padding: 0 120px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

/* Left: Logo */
.logo {
  display: flex;
  align-items: center;
  width: 164px; 
}

.logo img {
  height: 44px;
  width: auto;
}


.nav-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex: 1; 
}

.nav-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #374151;
}

/* Right: Button */
.navbar button {
  width: 164px; 
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2fa66a;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(47, 166, 106, 0.25);
}

.navbar button:hover {
  background-color: #2e684c;
}

/* Navbar style end. */

/* Hero section style start*/

.hero-section {
  position: relative;
  background: url('./assets/hero-bg.png') center/cover no-repeat;
  width: 100%;
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  text-align: center;
  color: #ffffff;
  padding: 0 20px;
}

.early {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  color: #2fa66a;
  background: #ffffff;
  border-radius: 1000px;
  margin: 0 auto 20px;
}

.heading-1st {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.heading-second {
  color: #2fa66a;
}

.hero-text {
  font-size: 18px;
  line-height: 1.6;
  color: #d1d5db;
  margin-bottom: 36px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.left-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px 22px;
  background: #2fa66a;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.right-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 14px 22px;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

